<div class="card-body col">
    <h5 class="mb-4">Carica immagini</h5>
    <form action="/file-upload">
        <div class="dropzone">
        </div>
    </form>
</div>
<p class="text-center">Oppure</p>
<div class="select-from-library-container mb-1 col">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-12">
            <div class="select-from-library-button sfl-multiple mb-5"
                 data-library-id="#libraryModal" data-count="-1">
                <div
                        class="card d-flex flex-row mb-4 media-thumb-container justify-content-center align-items-center">
                    Scegli dalla galleria
                </div>
            </div>


            <div class="selected-library-item sfl-selected-item mb-5">
                <div class="card d-flex flex-row media-thumb-container">
                    <a class="d-flex align-self-center">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                             alt="uploaded image"
                             class="list-media-thumbnail responsive border-0 sfl-selected-item-image"/>
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                                class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                            <a class="w-100">
                                <p
                                        class="list-item-heading mb-1 truncate sfl-selected-item-label">
                                </p>
                            </a>
                        </div>
                        <div class="pl-1 align-self-center">
                            <a href="#"
                               class="btn-link delete-library-item sfl-delete-item"><i
                                    class="simple-icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'modal_library.html' %}

