{% extends 'base/base_template.html' %}
{% load static %}
{% block content %}
    <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="mb-4">Common Rules</h5>
                <form id="rulesForm" class="tooltip-label-right" novalidate>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group position-relative error-l-50">
                                <label>Name</label>
                                <input type="text" class="form-control" name="rulesName">
                                <small class="form-text text-muted">Must be letters only!</small>
                            </div>
                            <div class="form-group position-relative error-l-50">
                                <label>Id</label>
                                <input type="text" class="form-control" name="rulesId">
                                <small class="form-text text-muted">Must be digits and 8 chars only!</small>
                            </div>
                            <div class="form-group position-relative error-l-50">
                                <label>Age</label>
                                <input type="text" class="form-control" name="rulesAge">
                                <small class="form-text text-muted">Must be 18 and over!</small>
                            </div>
                            <div class="form-group position-relative error-l-50">
                                <label>Email</label>
                                <input type="text" class="form-control" name="rulesEmail">
                                <small class="form-text text-muted">Must be a valid email!</small>
                            </div>

                        </div>
                        <div class="col col-md-6">
                            <div class="form-group position-relative error-l-50">
                                <label>Details</label>
                                <textarea class="form-control" rows="2" name="rulesDetail"></textarea>
                                <small class="form-text text-muted">Must be 20 chars or less!</small>
                            </div>
                            <div class="form-group position-relative error-l-75">
                                <label>Password</label>
                                <input type="text" class="form-control" name="rulesPassword" id="rulesPassword">
                                <small class="form-text text-muted">Must be at least 6 chars!</small>
                            </div>
                            <div class="form-group position-relative error-l-125">
                                <label>Confirm Password</label>
                                <input type="text" class="form-control" name="rulesPasswordConfirm"
                                       id="rulesPasswordConfirm">
                                <small class="form-text text-muted">Must be same with password!</small>
                            </div>
                            <div class="form-group position-relative error-l-75">
                                <label>Credit Card</label>
                                <input type="text" class="form-control" name="rulesCreditCard" id="rulesCreditCard">
                                <small class="form-text text-muted">Must be a valid credit card number without
                                    whitespace!</small>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-0">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}