{% extends 'base/base_template.html' %}{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="mx-3 mt-4">Lista dei corsi disattivati
            </h1>
        </div>
        <div class="top-left-button-container mb-3">
            <a href="{% url 'courses' %}">
                <button class="btn btn-primary btn-sm float-right">Visualizza
                    corsi attivi
                </button>
            </a>
        </div>
        <div class="card-body">
            <table id="courses" class="data-table responsive nowrap dataTable no-footer dtr-inline">
                <thead>
                <tr>
                    <th>Corso</th>
                    <th>Data Inizio</th>
                    <th>Data Fine</th>
                    <th>Prezzo</th>
                    <th>Istruttore</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
