{% extends 'base/base_template.html' %}
{% block content %}
    <form action="{% url 'course_m2m' %}" method="POST" id="add_course_day_hours">{% csrf_token %}</form>
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="card mb-4">
            <h2 class="m-3">Dettaglio del corso "{{ course.name }}"</h2>
            <div class="card-body pb-5 d-flex flex-column">
                <div class="pl-3 pr-3 pb-0 d-flex flex-column flex-grow-1">
                    <p class="text-muted mb-4">{{ course.description }}</p>
                    <ul class="list-unstyled mb-0">
                        <li>Data di inizio del corso: {{ course.start_date| date:'d/m/Y' }}</li>
                        <li>Data di fine del corso: {{ course.end_date| date:'d/m/Y' }}</li>
                        <li>Prezzo del corso: {{ course.price | floatformat }} €</li>
                        <li>Numero minimo di partecipanti del corso: {{ course.min_subscribers }}</li>
                        <li>Numero massimo di partecipanti del corso: {{ course.max_subscribers }}</li>
                        {% if course.trainer %}
                            <li>Istruttore del
                                corso: {{ course.trainer.details.first_name }} {{ course.trainer.details.last_name }}</li>
                            <li>Tipo di istruttore: {{ course.trainer.type }}</li>{% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-header pl-0 pr-0">
                <ul class="nav nav-tabs card-header-tabs  ml-0 mr-0" role="tablist">
                    <li class="nav-item col-md-4 text-center">
                        <a class="nav-link active" id="first-tab_" data-toggle="tab" href="#firstFull"
                           role="tab"
                           aria-controls="first" aria-selected="true">Modifica dettagli</a>
                    </li>
                    <li class="nav-item col-md-4 text-center">
                        <a class="nav-link" id="second-tab_" data-toggle="tab" href="#secondFull" role="tab"
                           aria-controls="second" aria-selected="false">Immagini del corso</a>
                    </li>
                    <li class="nav-item col-md-4 text-center">
                        <a class="nav-link" id="third-tab_" data-toggle="tab" href="#thirdFull" role="tab"
                           aria-controls="third" aria-selected="false">Fasce orarie del corso</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content col-12">
                    <div class="tab-pane fade active show" id="firstFull" role="tabpanel"
                         aria-labelledby="first-tab_">
                        <div class="card-content">
                            <section class="p-3">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xl-6 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Nome</label>
                                            <div class="input-group">
                                                {{ form.name }}
                                            </div>
                                            <small class="form-text text-muted">Inserire il nome del corso</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Descrizione del corso</label>
                                            <div class="input-group">
                                                {{ form.description }}
                                            </div>
                                            <small class="form-text text-muted">Inserire la descrizione del
                                                corso</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Prezzo del corso</label>
                                            <div class="input-group">
                                                {{ form.price }}
                                            </div>
                                            <small class="form-text text-muted">Inserire il prezzo del corso. Il valore
                                                è
                                                inteso in €</small>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xl-6 col-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-control-label">Data inizio corso</label>
                                                {#                                                <div class="input-group">#}
                                                {#                                                    {{ form.start_date }}#}
                                                {#                                                </div>#}
                                                <div id="start_datepicker"></div>
                                                <input type="hidden" id="id_start_date" name="start_date"
                                                       form="add_course_id">
                                                <small class="form-text text-muted">Inserire la data di inizio
                                                    corso</small>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-control-label">Data di fine corso</label>
                                                {#                                                <div class="input-group">#}
                                                {#                                                    {{ form.end_date }}#}
                                                {#                                                </div>#}
                                                <div id="end_datepicker"></div>
                                                <input type="hidden" name="end_date" id="id_end_date"
                                                       form="add_course_id">
                                                <small class="form-text text-muted">Inserire di fine corso</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-4">
                                                <label class="form-control-label">Numero minimo di
                                                    partecipanti</label>
                                                <div class="input-group">
                                                    {{ form.min_subscribers }}
                                                </div>
                                                <small class="form-text text-muted">Inserire il numero minimo di
                                                    partecipanti al corso</small>
                                            </div>
                                            <div class="form-group col-4 offset-2">
                                                <label class="form-control-label">Numero massimo di
                                                    partecipanti</label>
                                                <div class="input-group">
                                                    {{ form.max_subscribers }}
                                                </div>
                                                <small class="form-text text-muted">Inserire il numero massimo di
                                                    partecipanti al corso</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Scegli istruttore</label>
                                            <div class="input-group">
                                                {{ form.trainer }}
                                            </div>
                                            <small class="form-text text-muted">Scegliere l'istruttore dalla
                                                lista</small>
                                            <a class="add-trainer-button" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Aggiungi istruttore">
                                                <button type="button" class="btn btn-primary btn-xs my-2"><i
                                                        class="iconsminds-add"></i> Aggiungi istruttore
                                                </button>
                                            </a>

                                        </div>
                                    </div>

                                    <div id="add_trainer_box">
                                        {% include 'new_trainer_box.html' %}
                                    </div>
                                </div>

                            </section>
                            <button type="submit" form="add_course_id" class="btn btn-success btn-xs float-right">
                                <i class="fa fa-check"></i> Inserisci
                            </button>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="secondFull" role="tabpanel"
                         aria-labelledby="second-tab">
                        {% include 'add_images_to_course.html' %}
                    </div>
                    <div class="tab-pane fade" id="thirdFull" role="tabpanel">
                        <div class="mb-4">
                            <ul class="nav nav-tabs card-header-tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="second-tab" data-toggle="tab" href="#second"
                                       role="tab" aria-controls="second" aria-selected="false">Inserimento giorni e/o
                                        fasce orarie
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first"
                                       role="tab" aria-controls="first" aria-selected="true">Disattivazione giorni e/o
                                        fasce orarie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                                       role="tab" aria-controls="third" aria-selected="false">Riattivazione fasce orarie e/o giorni
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="fourth-tab" data-toggle="tab" href="#fourth"
                                       role="tab" aria-controls="fourth" aria-selected="false">Chiusura corso
                                    </a>
                                </li>
                            </ul>

                            <div class="card-content">
                                <div class="tab-content p-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="first" role="tabpanel"
                                         aria-labelledby="first-tab">
                                        <section class="pt-3">
                                            <div class="row">
                                                <div class="col-12 col-md-5 col-lg-4 col-xl-4 ">
                                                    <span>Gestione Giorni</span>
                                                    {% for active in active_days %}
                                                        <div class="d-flex flex-row mb-3">
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div
                                                                        class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                                    <a class="list-item-heading mb-0 truncate w-xs-100">
                                                                        {{ active.get_day_display }}
                                                                    </a>
                                                                    <div class="w-xs-100">
                                                                        {#                                                        <button class="mb-2 btn btn-danger"#}
                                                                        {#                                                                data-toggle="tooltip"#}
                                                                        {#                                                                data-placement="top"#}
                                                                        {#                                                                title="Cancella"><i class="simple-icon-minus  "></i>Cancella#}
                                                                        {#                                                            giorno#}
                                                                        {#                                                        </button>#}
                                                                        <button class="mb-2 btn btn-light"
                                                                                onclick="disactiveDay({{ active.pk }})"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Disattiva"><i
                                                                                class="simple-icon-ban  "></i> Disattiva
                                                                            giorno
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-12 col-md-5 col-lg-5 col-xl-5 ">
                                                    <span>Gestione fasce orarie</span>
                                                    {% for cdh in hours %}
                                                        <form id="row_{{ cdh.pk }}"
                                                              method="POST">{% csrf_token %}</form>
                                                        <div class="d-flex flex-row mb-3">
                                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                                <div class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                                    <p class="mb-0 text-muted text-small w-xs-100">
                                                                        <label class="form-group has-float-label">Seleziona
                                                                            fascia
                                                                            oraria del {{ cdh.day_name }}</label>
                                                                        <select name="hour_list"
                                                                                id="hour_list_{{ cdh.pk }}"
                                                                                class="select2-single select2-hidden-accessible mb-2"
                                                                                data-width="100%"
                                                                                form="row_{{ cdh.pk }}">
                                                                            {% for h in cdh.hours %}
                                                                                <option value="{{ h.id }}">{{ h.start_hour }}
                                                                                    - {{ h.end_hour }}</option>
                                                                            {% endfor %}
                                                                        </select></p>
                                                                    <input type="hidden" name="day_hour"
                                                                           value="{{ cdh.day }}"
                                                                           form="row_{{ cdh.pk }}">
                                                                    <input type="hidden" name="pk_course"
                                                                           value="{{ pk }}"
                                                                           form="row_{{ cdh.pk }}">
                                                                    <div class="ml-3 w-xs-100">
                                                                        {#                                                        <span class="mb-2 btn btn-sm btn-danger"#}
                                                                        {#                                                                data-toggle="tooltip"#}
                                                                        {#                                                                data-placement="top"#}
                                                                        {#                                                                title="Cancella"><i class="simple-icon-minus  "></i>Cancella#}
                                                                        {#                                                            dal corso#}
                                                                        {#                                                        </span>#}
                                                                        <span class="mb-2 btn btn-sm btn-light"
                                                                              onclick="disactiveHour('row_{{ cdh.pk }}')"
                                                                              data-toggle="tooltip"
                                                                              data-placement="top"
                                                                              title="Disattiva fascia"><i
                                                                                class="simple-icon-ban  "></i> Disattiva per questo
                                                            corso
                                                        </span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                        <section class="pt-3">
                                            <div class="row">
                                                <input type="hidden" name="course" id="id_course"
                                                       form="add_course_day_hours" value="{{ course.pk }}">
                                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                                                    <div class="input-group">
                                                        <label class="form-group has-float-label">Seleziona
                                                            giorno</label>
                                                        {{ form_m2m.day }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                                                    <div class="form-group">
                                                        <label class="form-group has-float-label">Seleziona fasce
                                                            orarie</label>
                                                        <div class="input-group">
                                                            {{ form_m2m.hours }}
                                                        </div>
                                                        <a class="add-hour-button float-right" data-toggle="tooltip"
                                                           data-placement="top"
                                                           title="Aggiungi fascia"><i class="fa fa-plus"></i></a>
                                                        <small class="form-text text-muted">{{ form.hours.help_text }}</small>

                                                    </div>
                                                    <div id="add_hours_box">
                                                        {% include 'hours/add_hours_box.html' %}
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">
                                                    <label for=""></label>
                                                    <button type="submit" form="add_course_day_hours"
                                                            class="btn btn-success mt-5 btn-sm">
                                                        <i class="fa fa-check"></i> Inserisci
                                                    </button>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="tab-pane fade" id="third" role="tabpanel"
                                         aria-labelledby="third-tab">
                                        <section class="pt-3">
                                            <div class="row">
                                                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                    <span>Riattiva giorno</span>
                                                    {% if disactivate_days is None %}
                                                        <div class="row">
                                                            <span class="p-3">Non c'è nessun giorno disattivato per questo corso.</span>
                                                        </div>
                                                    {% else %}
                                                        {% for disactivated in disactivated_days %}
                                                            <div class="d-flex flex-row mb-3">
                                                                <div class="d-flex flex-grow-1 min-width-zero">
                                                                    <div
                                                                            class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                                        <a class="list-item-heading mb-0 truncate w-xs-100">
                                                                            {{ disactivated.get_day_display }}
                                                                            <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                                                                                <input type="checkbox"
                                                                                       class="custom-control-input">
                                                                                <span class="custom-control-label">&nbsp;Riattiva</span>
                                                                            </label>
                                                                        </a>
                                                                        <input type="hidden" name="day_hour_restore"
                                                                               value="{{ disactivated.day }}"
                                                                               form="row_restore{{ disactivated.pk }}">
                                                                        <input type="hidden" name="pk_course_restore"
                                                                               value="{{ pk }}"
                                                                               form="row_restore{{ cdh.pk }}">
                                                                        <div class="w-xs-100">
                                                                            <button class="mb-2 btn btn-success"
                                                                                    onclick="restoreDay({{ disactivated.pk }})"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top"
                                                                                    title="Riattiva fascia"><i
                                                                                    class="simple-icon-check"></i>
                                                                                Riattiva
                                                                                per questo
                                                                                corso
                                                                            </button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                                                    <h1>Riattiva fasce</h1>
                                                    {% if hours_restore is None %}
                                                        <div class="row"><span class="p-3">Non c'è nessuna fascia oraria disabilitata per questo corso.</span>
                                                        </div>
                                                    {% else %}
                                                        {% for cdh in hours_restore %}
                                                            <form id="row_restore{{ cdh.pk }}"
                                                                  method="POST">{% csrf_token %}</form>
                                                            <div class="d-flex flex-row mb-3">
                                                                <div class="d-flex flex-grow-1 min-width-zero">
                                                                    <div class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                                                        <p class="mb-0 text-muted text-small w-xs-100">
                                                                            <label class="form-group has-float-label">Seleziona
                                                                                fascia
                                                                                oraria del {{ cdh.day_name }}</label>
                                                                            <select name="hour_list_restore"
                                                                                    id="hour_list_{{ cdh.pk }}"
                                                                                    class="select2-single mb-2" readonly
                                                                                    data-width="100%"
                                                                                    form="row_restore{{ cdh.pk }}">
                                                                                {% for h in cdh.hours %}
                                                                                    <option value="{{ h.id }}">{{ h.start_hour }}
                                                                                        - {{ h.end_hour }}</option>
                                                                                {% endfor %}
                                                                            </select></p>
                                                                        <input type="hidden" name="day_hour_restore"
                                                                               value="{{ cdh.day }}"
                                                                               form="row_restore{{ cdh.pk }}">
                                                                        <input type="hidden" name="pk_course_restore"
                                                                               value="{{ pk }}"
                                                                               form="row_restore{{ cdh.pk }}">
                                                                        <div class="w-xs-100">
                                                                            <button class="mb-2 btn btn-success"
                                                                                    onclick="restoreHour('row_restore{{ cdh.pk }}')"
                                                                                    data-toggle="tooltip"
                                                                                    data-placement="top"
                                                                                    title="Riattiva fascia"><i
                                                                                    class="simple-icon-check"></i>
                                                                                Riattiva
                                                                                per questo
                                                                                corso
                                                                            </button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="tab-pane fade" id="fourth" role="tabpanel"
                                         aria-labelledby="fourth-tab">
                                        <section class="pt-3">
                                            <div class="row">
                                                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                                    <span>Chiusura corso</span>

                                                </div>
                                                <div class="col-12 col-md-5 col-lg-5 col-xl-5">

                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="card mb-4">#}
        {#            <div class="card-header">#}
        {#                <ul class="nav nav-tabs card-header-tabs " role="tablist">#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first"#}
        {#                           role="tab" aria-controls="first" aria-selected="true"><h2>Disattiva giorni e/o fasce</h2></a>#}
        {#                    </li>#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"#}
        {#                           role="tab" aria-controls="third" aria-selected="false"><h2>Riattiva giorni e/o fasce </h2>#}
        {#                        </a>#}
        {#                    </li>#}
        {#                    <li class="nav-item">#}
        {#                        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second"#}
        {#                           role="tab" aria-controls="second" aria-selected="false"><h2>Aggiungi giorni e/o fasce</h2>#}
        {#                        </a>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#            <div class="card-content">#}
        {#                <div class="tab-content p-3" id="myTabContent" style="border:1px solid #ddd">#}
        {#                    <div class="tab-pane fade show active" id="first" role="tabpanel"#}
        {#                         aria-labelledby="first-tab">#}
        {#                        <section class="p-3">#}
        {#                            <div class="row">#}
        {#                                <div class="col-12 col-md-5 col-lg-4 col-xl-4 ">#}
        {#                                    <h1>Gestione Giorni</h1>#}
        {#                                    {% for active in active_days %}#}
        {#                                        <div class="card d-flex flex-row mb-3">#}
        {#                                            <div class="d-flex flex-grow-1 min-width-zero">#}
        {#                                                <div#}
        {#                                                        class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">#}
        {#                                                    <a class="list-item-heading mb-0 truncate w-xs-100">#}
        {#                                                        {{ active.get_day_display }}#}
        {#                                                    </a>#}
        {#                                                    <div class="w-xs-100">#}
        {#                                                        <button class="mb-2 btn btn-danger"#}
        {#                                                                data-toggle="tooltip"#}
        {#                                                                data-placement="top"#}
        {#                                                                title="Cancella"><i class="simple-icon-minus  "></i>Cancella#}
        {#                                                            giorno#}
        {#                                                        </button>#}
        {#                                                        <button class="mb-2 btn btn-light"#}
        {#                                                                onclick="disactiveDay({{ active.pk }})"#}
        {#                                                                data-toggle="tooltip"#}
        {#                                                                data-placement="top"#}
        {#                                                                title="Disattiva"><i#}
        {#                                                                class="simple-icon-ban  "></i> Disattiva giorno#}
        {#                                                        </button>#}
        {#                                                    </div>#}
        {#                                                </div>#}
        {##}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    {% endfor %}#}
        {#                                </div>#}
        {#                                <div class="col-12 col-md-5 col-lg-5 col-xl-5 ">#}
        {#                                    <h1>Gestione fasce orarie</h1>#}
        {#                                    {% for cdh in hours %}#}
        {#                                        <form id="row_{{ cdh.pk }}" method="POST">{% csrf_token %}</form>#}
        {#                                        <div class="card d-flex flex-row mb-3">#}
        {#                                            <div class="d-flex flex-grow-1 min-width-zero">#}
        {#                                                <div class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">#}
        {#                                                    <p class="mb-0 text-muted text-small w-xs-100">#}
        {#                                                        <label class="form-group has-float-label">Seleziona fascia#}
        {#                                                            oraria del {{ cdh.day_name }}</label>#}
        {#                                                        <select name="hour_list" id="hour_list_{{ cdh.pk }}"#}
        {#                                                                class="select2-single select2-hidden-accessible mb-2"#}
        {#                                                                data-width="100%" form="row_{{ cdh.pk }}">#}
        {#                                                            {% for h in cdh.hours %}#}
        {#                                                                <option value="{{ h.id }}">{{ h.start_hour }}#}
        {#                                                                    - {{ h.end_hour }}</option>#}
        {#                                                            {% endfor %}#}
        {#                                                        </select></p>#}
        {#                                                    <input type="hidden" name="day_hour" value="{{ cdh.day }}"#}
        {#                                                           form="row_{{ cdh.pk }}">#}
        {#                                                    <input type="hidden" name="pk_course" value="{{ pk }}"#}
        {#                                                           form="row_{{ cdh.pk }}">#}
        {#                                                    <div class="ml-3 w-xs-100">#}
        {#                                                        <span class="mb-2 btn btn-sm btn-danger"#}
        {#                                                                data-toggle="tooltip"#}
        {#                                                                data-placement="top"#}
        {#                                                                title="Cancella"><i class="simple-icon-minus  "></i>Cancella#}
        {#                                                            dal corso#}
        {#                                                        </span>#}
        {#                                                        <span class="mb-2 btn btn-sm btn-light"#}
        {#                                                              onclick="disactiveHour('row_{{ cdh.pk }}')"#}
        {#                                                              data-toggle="tooltip"#}
        {#                                                              data-placement="top"#}
        {#                                                              title="Disattiva fascia"><i#}
        {#                                                                class="simple-icon-ban  "></i> Disattiva per questo#}
        {#                                                            corso#}
        {#                                                        </span>#}
        {#                                                    </div>#}
        {#                                                </div>#}
        {##}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    {% endfor %}#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </section>#}
        {#                    </div>#}
        {#                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">#}
        {#                        <section class="p-3">#}
        {#                            <div class="row">#}
        {#                                <input type="hidden" name="course" id="id_course"#}
        {#                                       form="add_course_day_hours" value="{{ course.pk }}">#}
        {#                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">#}
        {#                                    <div class="input-group">#}
        {#                                        <label class="form-group has-float-label">Seleziona giorno</label>#}
        {#                                        {{ form_m2m.day }}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">#}
        {#                                    <div class="form-group">#}
        {#                                        <label class="form-group has-float-label">Seleziona fasce orarie</label>#}
        {#                                        <div class="input-group">#}
        {#                                            {{ form_m2m.hours }}#}
        {#                                        </div>#}
        {#                                        <a class="add-hour-button float-right" data-toggle="tooltip"#}
        {#                                           data-placement="top"#}
        {#                                           title="Aggiungi fascia"><i class="fa fa-plus"></i></a>#}
        {#                                        <small class="form-text text-muted">{{ form.hours.help_text }}</small>#}
        {##}
        {#                                    </div>#}
        {#                                    <div id="add_hours_box">#}
        {#                                        {% include 'hours/add_hours_box.html' %}#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                                <div class="col-md-4 col-lg-4 col-xl-4 col-12">#}
        {#                                    <label for=""></label>#}
        {#                                    <button type="submit" form="add_course_day_hours"#}
        {#                                            class="btn btn-success mt-5 btn-sm">#}
        {#                                        <i class="fa fa-check"></i> Inserisci#}
        {#                                    </button>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </section>#}
        {#                    </div>#}
        {##}
        {#                    <div class="tab-pane fade" id="third" role="tabpanel"#}
        {#                         aria-labelledby="third-tab">#}
        {#                        <section class="p-3">#}
        {#                            <div class="row">#}
        {#                                <div class="col-12 col-md-4 col-lg-4 col-xl-4">#}
        {#                                    <h1>Riattiva giorno</h1>#}
        {#                                    {% if disactivate_days is None %}#}
        {#                                        <div class="row">#}
        {#                                            <span class="p-3">Non c'è nessun giorno disattivato per questo corso.</span>#}
        {#                                        </div>#}
        {#                                    {% else %}#}
        {#                                        {% for disactivated in disactivated_days %}#}
        {#                                            <div class="card d-flex flex-row mb-3">#}
        {#                                                <div class="d-flex flex-grow-1 min-width-zero">#}
        {#                                                    <div#}
        {#                                                            class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">#}
        {#                                                        <a class="list-item-heading mb-0 truncate w-xs-100">#}
        {#                                                            {{ disactivated.get_day_display }}#}
        {#                                                            <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">#}
        {#                                                                <input type="checkbox" class="custom-control-input">#}
        {#                                                                <span class="custom-control-label">&nbsp;Riattiva</span>#}
        {#                                                            </label>#}
        {#                                                        </a>#}
        {#                                                        <input type="hidden" name="day_hour_restore"#}
        {#                                                               value="{{ disactivated.day }}"#}
        {#                                                               form="row_restore{{ disactivated.pk }}">#}
        {#                                                        <input type="hidden" name="pk_course_restore" value="{{ pk }}"#}
        {#                                                               form="row_restore{{ cdh.pk }}">#}
        {#                                                        <div class="w-xs-100">#}
        {#                                                            <button class="mb-2 btn btn-success"#}
        {#                                                                    onclick="restoreDay({{ disactivated.pk }})"#}
        {#                                                                    data-toggle="tooltip"#}
        {#                                                                    data-placement="top"#}
        {#                                                                    title="Riattiva fascia"><i#}
        {#                                                                    class="simple-icon-check"></i> Riattiva per questo#}
        {#                                                                corso#}
        {#                                                            </button>#}
        {#                                                        </div>#}
        {#                                                    </div>#}
        {##}
        {#                                                </div>#}
        {#                                            </div>#}
        {#                                        {% endfor %}#}
        {#                                    {% endif %}#}
        {#                                </div>#}
        {#                                <div class="col-12 col-md-5 col-lg-5 col-xl-5">#}
        {#                                    <h1>Riattiva fasce</h1>#}
        {#                                    {% if hours_restore is None %}#}
        {#                                        <div class="row"><span class="p-3">Non c'è nessuna fascia oraria disabilitata per questo corso.</span>#}
        {#                                        </div>#}
        {#                                    {% else %}#}
        {#                                        {% for cdh in hours_restore %}#}
        {#                                            <form id="row_restore{{ cdh.pk }}" method="POST">{% csrf_token %}</form>#}
        {#                                            <div class="card d-flex flex-row mb-3">#}
        {#                                                <div class="d-flex flex-grow-1 min-width-zero">#}
        {#                                                    <div class="card-body  d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">#}
        {#                                                        <p class="mb-0 text-muted text-small w-xs-100">#}
        {#                                                            <label class="form-group has-float-label">Seleziona fascia#}
        {#                                                                oraria del {{ cdh.day_name }}</label>#}
        {#                                                            <select name="hour_list_restore" id="hour_list_{{ cdh.pk }}"#}
        {#                                                                    class="select2-single mb-2" readonly#}
        {#                                                                    data-width="100%" form="row_restore{{ cdh.pk }}">#}
        {#                                                                {% for h in cdh.hours %}#}
        {#                                                                    <option value="{{ h.id }}">{{ h.start_hour }}#}
        {#                                                                        - {{ h.end_hour }}</option>#}
        {#                                                                {% endfor %}#}
        {#                                                            </select></p>#}
        {#                                                        <input type="hidden" name="day_hour_restore"#}
        {#                                                               value="{{ cdh.day }}"#}
        {#                                                               form="row_restore{{ cdh.pk }}">#}
        {#                                                        <input type="hidden" name="pk_course_restore" value="{{ pk }}"#}
        {#                                                               form="row_restore{{ cdh.pk }}">#}
        {#                                                        <div class="w-xs-100">#}
        {#                                                            <button class="mb-2 btn btn-success"#}
        {#                                                                    onclick="restoreHour('row_restore{{ cdh.pk }}')"#}
        {#                                                                    data-toggle="tooltip"#}
        {#                                                                    data-placement="top"#}
        {#                                                                    title="Riattiva fascia"><i#}
        {#                                                                    class="simple-icon-check"></i> Riattiva per questo#}
        {#                                                                corso#}
        {#                                                            </button>#}
        {#                                                        </div>#}
        {#                                                    </div>#}
        {##}
        {#                                                </div>#}
        {#                                            </div>#}
        {#                                        {% endfor %}#}
        {#                                    {% endif %}#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </section>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $.fn.datepicker.dates['en'] = {
                days: ["Domenica", "Lunedi", "Martedi", "Mercoledi", "Giovedi", "Venerdi", "Sabato"],
                daysShort: ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab",],
                daysMin: ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab",],
                months: ["Gennaio", "February", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicenbre"],
                monthsShort: ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                today: "Today",
                clear: "Clear",
                format: "yyyy-mm-dd",
                titleFormat: "MM yyyy",
                weekStart: 1
            }
            var options = {
                format: 'yyyy-mm-dd',
                language: 'en'
            }
            $('#start_datepicker').datepicker(options);
            $('#start_datepicker').on('changeDate', function (event) {
                var date = event.date.toLocaleDateString();
                alert(date);
                $('#id_start_date').val(date);
            });
            $('#end_datepicker').datepicker(options);
            $('#end_datepicker').on('changeDate', function (event) {
                var date = event.date.toLocaleDateString();
                alert(date)
                $('#id_end_date').val(date);
            });
        });
    </script>
{% endblock %}
