{% load static %}
<div class="modal fade modal-center select-from-library" id="libraryModal" tabindex="-1" role="dialog"
     aria-labelledby="libraryModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select from Library</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body scroll pt-0 pb-0 mt-4 mb-4">
                <div class="accordion" id="accordion">
                    <div class="mb-2">
                        <button class="btn btn-link p-0 folder-button-collapse" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="icon-container">
                                        <i class="simple-icon-arrow-down"></i>
                                    </span>
                            <span class="folder-name">Cakes</span>
                        </button>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="list disable-text-selection">
                                <div class="row">

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/chocolate-cake-thumb.jpg"
                                         data-path="img/chocolate-cake-thumb.jpg"
                                         data-label="chocolate-cake-thumb.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/chocolate-cake-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/marble-cake-thumb.jpg"
                                         data-path="img/marble-cake-thumb.jpg" data-label="marble-cake.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/marble-cake-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">marble-cake.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/fruitcake-thumb.jpg"
                                         data-path="img/fruitcake-thumb.jpg" data-label="fruitcake.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/fruitcake-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">fruitcake.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/fat-rascal-thumb.jpg"
                                         data-path="img/fat-rascal-thumb.jpg" data-label="fat-rascal.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/fat-rascal-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">fat-rascal.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/chocolate-cake-thumb.jpg"
                                         data-path="img/chocolate-cake-thumb.jpg"
                                         data-label="chocolate-cake-thumb.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/chocolate-cake-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">chocolate-cake-thumb.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/marble-cake-thumb.jpg"
                                         data-path="img/marble-cake-thumb.jpg" data-label="marble-cake.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/marble-cake-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">marble-cake.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-link p-0 folder-button-collapse collapsed" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="icon-container">
                                        <i class="simple-icon-arrow-down"></i>
                                    </span>
                            <span class="folder-name">Cupcakes</span>
                        </button>

                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="list disable-text-selection">
                                <div class="row">
                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/streuselkuchen-thumb.jpg"
                                         data-path="img/streuselkuchen-thumb.jpg"
                                         data-label="streuselkuchen-thumb.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/streuselkuchen-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">streuselkuchen-thumb.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mb-1 sfl-item-container"
                                         data-preview-path="img/cremeschnitte-thumb.jpg"
                                         data-path="img/cremeschnitte-thumb.jpg"
                                         data-label="cremeschnitte-thumb.jpg">
                                        <div class="card d-flex mb-2 p-0 media-thumb-container">
                                            <div class="d-flex align-self-stretch">
                                                <img src="{% static 'core/img/cremeschnitte-thumb.jpg' %}"
                                                     alt="uploaded image"
                                                     class="list-media-thumbnail responsive border-0"/>
                                            </div>
                                            <div class="d-flex flex-grow-1 min-width-zero">
                                                <div
                                                        class="card-body pr-1 pt-2 pb-2 align-self-center d-flex min-width-zero">
                                                    <div class="w-100">
                                                        <p class="truncate mb-0">cremeschnitte-thumb.jpg</p>
                                                    </div>
                                                </div>
                                                <div
                                                        class="custom-control custom-checkbox pl-1 pr-1 align-self-center">
                                                    <label class="custom-control custom-checkbox mb-0">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary sfl-submit">Select</button>
            </div>
        </div>
    </div>
</div>