{% extends 'base/base_template.html' %}
{% load static %}
{% block content %}


    <form action="{% url 'nuovo_corso' %}" method="POST" id="add_course_id">{% csrf_token %}</form>
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="mt-4">Nuovo corso</h2>
            </div>
            <div class="card-header pl-0 pr-0">
                <ul class="nav nav-tabs card-header-tabs  ml-0 mr-0" role="tablist">
                    <li class="nav-item w-50 text-center">
                        <a class="nav-link active" id="first-tab_" data-toggle="tab" href="#firstFull"
                           role="tab"
                           aria-controls="first" aria-selected="true">Inserisci Corso</a>
                    </li>
                    <li class="nav-item w-50 text-center">
                        <a class="nav-link" id="second-tab_" data-toggle="tab" href="#secondFull" role="tab"
                           aria-controls="second" aria-selected="false">Immagini del corso</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content col-12">
                    <div class="tab-pane fade active show" id="firstFull" role="tabpanel"
                         aria-labelledby="first-tab_">
                        <div class="card-content">
                            <section class="p-3">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xl-6 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Nome</label>
                                            <div class="input-group">
                                                {{ form.name }}
                                            </div>
                                            <small class="form-text text-muted">Inserire il nome del corso</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Descrizione del corso</label>
                                            <div class="input-group">
                                                {{ form.description }}
                                            </div>
                                            <small class="form-text text-muted">Inserire la descrizione del
                                                corso</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Prezzo del corso</label>
                                            <div class="input-group">
                                                {{ form.price }}
                                            </div>
                                            <small class="form-text text-muted">Inserire il prezzo del corso. Il valore
                                                è
                                                inteso in €</small>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xl-6 col-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-control-label">Data inizio corso</label>
                                                {#                                                <div class="input-group">#}
                                                {#                                                    {{ form.start_date }}#}
                                                {#                                                </div>#}
                                                <div id="start_datepicker"></div>
                                                <input type="hidden" id="id_start_date" name="start_date"
                                                       form="add_course_id">
                                                <small class="form-text text-muted">Inserire la data di inizio
                                                    corso</small>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-control-label">Data di fine corso</label>
                                                {#                                                <div class="input-group">#}
                                                {#                                                    {{ form.end_date }}#}
                                                {#                                                </div>#}
                                                <div id="end_datepicker"></div>
                                                <input type="hidden" name="end_date" id="id_end_date"
                                                       form="add_course_id">l
                                                <small class="form-text text-muted">Inserire di fine corso</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-4">
                                                <label class="form-control-label">Numero minimo di
                                                    partecipanti</label>
                                                <div class="input-group">
                                                    {{ form.min_subscribers }}
                                                </div>
                                                <small class="form-text text-muted">Inserire il numero minimo di
                                                    partecipanti al corso</small>
                                            </div>
                                            <div class="form-group col-4 offset-2">
                                                <label class="form-control-label">Numero massimo di
                                                    partecipanti</label>
                                                <div class="input-group">
                                                    {{ form.max_subscribers }}
                                                </div>
                                                <small class="form-text text-muted">Inserire il numero massimo di
                                                    partecipanti al corso</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Scegli istruttore</label>
                                            <div class="input-group">
                                                {{ form.trainer }}
                                            </div>
                                            <small class="form-text text-muted">Scegliere l'istruttore dalla
                                                lista</small>
                                            <a class="add-trainer-button" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Aggiungi istruttore">
                                                <button type="button" class="btn btn-primary btn-xs my-2"><i
                                                        class="iconsminds-add"></i> Aggiungi istruttore
                                                </button>
                                            </a>

                                        </div>
                                    </div>

                                    <div id="add_trainer_box">
                                        {% include 'new_trainer_box.html' %}
                                    </div>
                                </div>

                            </section>
                            <button type="submit" form="add_course_id" class="btn btn-success btn-xs float-right">
                                <i class="fa fa-check"></i> Inserisci
                            </button>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="secondFull" role="tabpanel"
                         aria-labelledby="second-tab">
                        {% include 'add_images_to_course.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


{% endblock %}

{% block js %}

{% endblock %}