<form action="{% url 'hours_course' %}" method="POST" id="hours_form">{% csrf_token %}</form>

<div id="aggiungi_fasce_orarie">
    <div class="card">
            <h2 class="m-3">Inserimento fasce orarie</h2>

        <div class="card-body card-block">
            <div class="row">
                <div class="col">
                    <label class="form-control-label">Ora di inizio</label>
                    {{ form_hours.start_hour }}
                </div>
                <div class="col">
                    <label class="form-control-label">Ora di fine</label>
                    {{ form_hours.end_hour }}
                </div>
{#                <input type="hidden" name="pk" id="id_hours_pk" form="hours_form">#}
                <div class="col">
                    <label for="" class="form-control-label"></label>
                    <button type="submit" class="btn btn-secondary mt-4" form="hours_form"
                            data-dismiss="modal">Inserisci
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>