.add-trainer-button {
    cursor: pointer;
    color: green!important;
}

.add-hour-button {
    cursor: pointer;
    color: green!important;
}
.mod-hour-button {
    cursor: pointer;
    color: darkgoldenrod!important;
}
.del-hour-button {
    cursor: pointer;
    color: red!important;
}
.close-button {
    cursor: pointer;
    color: red;
}

form#add_course_id textarea {
    height: 100px;
}

small.form-text.text-muted:nth-child(2) {
    padding: 0 15px
}

#id_day > li > label > input {
    margin: -15px 0!important;
}

#id_day > li > label {
    width: auto!important;
    text-align: left!important;
    margin-right: 0!important;
}

.custom-file-label::after{
    content: "Scegli"!important;
}

.menu .sub-menu ul li{
    margin-left: 20px!important;
}