{% extends 'core/../../../core/templates/base/base_template.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <h1 class="m-3">Lista Prenotazioni</h1>
        <div class="card-body p-3">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <label class="form-control-label">Scegli corso</label>
                    {{ form.course }}
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <label class="form-control-label">Scegli data</label>
                    {#                    <input type="hidden" form="prenotation_form" autocomplete="off" readonly#}
                    {#                           onfocus="this.removeAttribute('readonly');" name="date_form" class="form-control"#}
                    {#                           data-date-format='dd/mm/yyyy' ,#}
                    {#                           id="date">#}
                    {#                    <div class="form-group">#}
                    {#                        <div id="datepicker" data-date-format='dd/mm/yyyy' class="date-inline">#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div id="datepicker"></div>
                    <input type="hidden" id="date">
                </div>
                <div id="course_day">
                </div>
                <div class="col-12 col-md-4 col lg-4 col-xl-4 ">
                    <label class="form-control-label">Scegli la fascia oraria</label>
                    <select name="course_hours" form="prenotation_form" class="form-control"
                            id="course_hours_select">
                    </select>
                </div>
                <div class="mx-auto mt-3">
                    <div id="status_prenotation"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <h2 class="m-3">Elenco prenotati:</h2>
            <div class="card-body">
                <table id="prenotation_table_details"
                       class="data-table responsive nowrap dataTable no-footer dtr-inline">
                    <thead>
                    <tr>
                        <th>Nome e Cognome</th>
                        <th>Telefono</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}
{% block js %}

    <script>

        $(document).ready(function () {
            table(12, '2020-01-01', 1, true);
            $.fn.datepicker.dates['en'] = {
                days: ["Domenica", "Lunedi", "Martedi", "Mercoledi", "Giovedi", "Venerdi", "Sabato"],
                daysShort: ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab",],
                daysMin: ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab",],
                months: ["Gennaio", "February", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicenbre"],
                monthsShort: ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"],
                today: "Today",
                clear: "Clear",
                format: "yyyy-mm-dd",
                titleFormat: "MM yyyy",
                weekStart: 1
            }
            var options = {
                format: 'yyyy-mm-dd',
                language: 'en'
            }
            $('#datepicker').datepicker(options);
        });


        $('#datepicker').on('changeDate', function (event) {
            var date = event.date.toISOString()
            $('#date').val(date);
            var course = $('#id_course').val();
            $("#course_hours_select").empty();
            console.log(date)
            $.ajax({
                type: 'GET',
                url: '/get_hours/',
                data: {'date': date, 'pk_course': course},
                success: function (response) {
                    console.log(response);
                    if (response['status'] === '200') {
                        console.log(response)
                        var len = response['hours'].length;
                        var i;
                        for (i = 0; i < len; i++) {
                            $("#course_hours_select").append("<option value=" + response['hours'][i]["id"] + ">" + response['hours'][i]["start_hour"] + " - " + response['hours'][i]["end_hour"] + "</option>")
                            $("#course_hours_select").trigger("chosen:updated");
                        }
                        var value = date
                        var year = new Date(date).getFullYear()
                        var month = new Date(date).getMonth()
                        var day = new Date(date).getDate()
                        var dateObject = year + '-' + (month + 1) + '-' + day;
                        table(course, dateObject, $('#course_hours_select').val(), true)
                    } else {
                        console.log(response)
                        $("#course_hours_select").empty();
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });

        $('#course_hours_select').on('change', function (event) {
            var value = $('#date').val()
            var course = $('#id_course').val();
            var year = new Date(value).getFullYear()
            var month = new Date(value).getMonth()
            var day = new Date(value).getDate()
            var dateObject = year + '-' + (month + 1) + '-' + day;
            table(course, dateObject, $('#course_hours_select').val(), true)
            table($('#id_course').val(), dateObject, $(this).val(), true);
            console.log(table($('#id_course').val(), dateObject, $(this).val(), true));
        });

        function table(course, date, hour, destroy) {
            $('#prenotation_table_details').DataTable({
                destroy: destroy,
                processing: true,
                serverSide: true,
                ajax: "/control_panel/prenotation/prenotation_table_details/" + course + "/" + hour + "/" + date.toString() + "/",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Italian.json"
                },
            });
        }

    </script>
{% endblock %}
