{% extends 'user_panel/base_user_panel/base_template.html' %}
{% load  static %}
{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Benvenuto {{ user.first_name }} {{ user.last_name }}</h1>
                </div>
            </div>
        </div>
        {#        <div class="col-sm-8">#}
        {#            <div class="page-header float-right">#}
        {#                <div class="page-title">#}
        {#                    <ol class="breadcrumb text-right">#}
        {#                        <li class="active">Dashboard</li>#}
        {#                    </ol>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="content mt-3">
            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'prenotation' %}">
                    <div class="card text-white bg-flat-color-1">
                        <div class="card-body pb-4">
                            {#                            <h4 class="mb-0">#}
                            {#                                <span class="count">{{ courses }}</span>#}
                            {#                            </h4>#}
                            {#                            <p class="text-light">Corsi</p>#}
                            {#                            <button class="btn btn-primary">PRENOTATI</button>#}
                            <h1 class="text-center ">Prenotati</h1>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <a href="{% url 'prenotation_users' %}">
                    <div class="card text-white bg-flat-color-2">
                        <div class="card-body pb-4">
                            <h1 class="text-center ">Le mie prenotazioni</h1>

                            {#                        <div class="dropdown float-right">#}
                            {#                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"#}
                            {#                                    id="dropdownMenuButton2" data-toggle="dropdown">#}
                            {#                                <i class="fa fa-cog"></i>#}
                            {#                            </button>#}
                            {#                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">#}
                            {#                                <div class="dropdown-menu-content">#}
                            {#                                    <a class="dropdown-item" href="#">Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">Another action</a>#}
                            {#                                    <a class="dropdown-item" href="#">Something else here</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                        <h4 class="mb-0">#}
                            {#                            <span class="count">10468</span>#}
                            {#                        </h4>#}
                            {#                        <p class="text-light">Members online</p>#}
                            {##}
                            {#                        <div class="chart-wrapper px-0" style="height:70px;" height="70">#}
                            {#                            <canvas id="widgetChart2"></canvas>#}
                            {#                        </div>#}
                            {##}
                        </div>
                    </div>
                </a>
            </div>
            {#            <!--/.col-->#}
            {##}
            {#            <div class="col-sm-6 col-lg-3">#}
            {#                <div class="card text-white bg-flat-color-3">#}
            {#                    <div class="card-body pb-0">#}
            {#                        <div class="dropdown float-right">#}
            {#                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"#}
            {#                                    id="dropdownMenuButton3" data-toggle="dropdown">#}
            {#                                <i class="fa fa-cog"></i>#}
            {#                            </button>#}
            {#                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">#}
            {#                                <div class="dropdown-menu-content">#}
            {#                                    <a class="dropdown-item" href="#">Action</a>#}
            {#                                    <a class="dropdown-item" href="#">Another action</a>#}
            {#                                    <a class="dropdown-item" href="#">Something else here</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <h4 class="mb-0">#}
            {#                            <span class="count">10468</span>#}
            {#                        </h4>#}
            {#                        <p class="text-light">Members online</p>#}
            {##}
            {#                    </div>#}
            {##}
            {#                    <div class="chart-wrapper px-0" style="height:70px;" height="70">#}
            {#                        <canvas id="widgetChart3"></canvas>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <!--/.col-->#}
            {##}
            {#            <div class="col-sm-6 col-lg-3">#}
            {#                <div class="card text-white bg-flat-color-4">#}
            {#                    <div class="card-body pb-0">#}
            {#                        <div class="dropdown float-right">#}
            {#                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"#}
            {#                                    id="dropdownMenuButton4" data-toggle="dropdown">#}
            {#                                <i class="fa fa-cog"></i>#}
            {#                            </button>#}
            {#                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">#}
            {#                                <div class="dropdown-menu-content">#}
            {#                                    <a class="dropdown-item" href="#">Action</a>#}
            {#                                    <a class="dropdown-item" href="#">Another action</a>#}
            {#                                    <a class="dropdown-item" href="#">Something else here</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <h4 class="mb-0">#}
            {#                            <span class="count">10468</span>#}
            {#                        </h4>#}
            {#                        <p class="text-light">Members online</p>#}
            {##}
            {#                        <div class="chart-wrapper px-3" style="height:70px;" height="70">#}
            {#                            <canvas id="widgetChart4"></canvas>#}
            {#                        </div>#}
            {##}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <!--/.col-->
        </div>
    </div>

{% endblock %}