<div class="col-xs-12 col-sm-12 col-lg" id="aggiungi_istruttore">
    <div class="card">
            <h1 class="m-3">Inserimento nuovo istruttore</h1>
        <form action="{% url 'nuovo_istruttore' %}" method="POST" id="form_trainer">
            {% csrf_token %}
            <div class="card-body card-block">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xl-4 col-12">
                        <div class="form-group">
                            <label class="form-control-label">Username</label>
                            <div class="input-group">
                                {{ form_trainer_user.username }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_username.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Password</label>
                            <div class="input-group">
                                {{ form_trainer_user.password1 }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.password1.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Conferma password</label>
                            <div class="input-group">
                                {{ form_trainer_user.password2 }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.password2.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4 col-12">
                        <div class="form-group">
                            <label class="form-control-label">Nome</label>
                            <div class="input-group">
                                {{ form_trainer_user.first_name }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.first_name.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Cognome</label>
                            <div class="input-group">
                                {{ form_trainer_user.last_name }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.last_name.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">E-mail</label>
                            <div class="input-group">
                                {{ form_trainer_user.email }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.email.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Telefono</label>
                            <div class="input-group">
                                {{ form_trainer_user.phone }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.phone.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Sesso</label>
                            <div class="input-group">
                                {{ form_trainer_user.sex }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.sex.help_text }}</small>
                        </div>
                         <div class="form-group">
                            <label class="form-control-label">Codice Fiscale</label>
                            <div class="input-group">
                                {{ form_trainer_user.codice_fiscale }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.codice_fiscale.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4 col-12">
                        <div class="form-group">
                            <label class="form-control-label">Città</label>
                            <div class="input-group">
                                {{ form_trainer_user.town }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.town.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Indirizzo di abitazione</label>
                            <div class="input-group">
                                {{ form_trainer_user.address }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.address.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Data di nascita</label>
                            <div class="input-group">
                                {{ form_trainer_user.date_of_birth }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.date_of_birth.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Città di nascita</label>
                            <div class="input-group">
                                {{ form_trainer_user.town_birth }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.town_birth.help_text }}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Disponibilità</label>
                            <div class="input-group">
                                {{ form_trainer.disponibility }}
                            </div>
                            <small class="form-text text-muted">{{ form_trainer_user.disponibility.help_text }}</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" form="form_trainer" class="btn btn-success btn-sm ">
                    <i class="fa fa-check"></i> Inserisci
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>

    </div>
</div>