{% extends 'control_panel/base_control_panel/../../../../core/templates/core/base/base_template.html' %}
{% load  static %}
{% block content %}
    <h1>Benvenuto nel tuo pannello amministratore</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="iconsminds-clock mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ courses }} Corsi</p>
                            {#                                    <p class="text-small text-white">Gestisci </p>#}
                        </div>
                    </div>

                    <div>
                        <div role="progressbar"
                             class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="{{ courses }}" aria-valuemax=""
                             data-show-percent="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ users }} Utenti registrati</p>
                            {#                                    <p class="text-small text-white">On approval process</p>#}
                        </div>
                    </div>
                    <div>
                        <div role="progressbar"
                             class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="{{ users }}"
                             data-show-percent="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 progress-banner">
                <div class="card-body justify-content-between d-flex flex-row align-items-center">
                    <div>
                        <i class="
simple-icon-calendar mr-2 text-white align-text-bottom d-inline-block"></i>
                        <div>
                            <p class="lead text-white">{{ prenotations }} Prenotazioni giornaliere</p>
                        </div>
                    </div>
                    <div>
                        <div role="progressbar"
                             class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                             data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="{{ prenotations }}"
                             data-show-percent="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}