{% extends 'core/../base/base_template.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-6 col-md-6 col-12 mx-auto">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="mx-3 mt-4">Il mio profilo</h2>
            </div>
            <div class="text-center mb-4">
                <img src="/media/{{ user.image }}" alt="Detail Picture"
                     class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail">
                <p class="list-item-heading mb-1">{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="card-body">
                <div class="mb-4">

                    <div class="card-header pl-0 pr-0">
                        <ul class="nav nav-tabs card-header-tabs  ml-0 mr-0" role="tablist">
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link active" id="first-tab_" data-toggle="tab" href="#firstFull"
                                   role="tab"
                                   aria-controls="first" aria-selected="true">Dati Anagrafici</a>
                            </li>
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link" id="second-tab_" data-toggle="tab" href="#secondFull" role="tab"
                                   aria-controls="second" aria-selected="false">Dati account</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content col-12">
                            <div class="tab-pane p-3 fade active show" id="firstFull" role="tabpanel"
                                 aria-labelledby="first-tab_">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <label class="form-group has-float-label">
                                                {{ form.first_name }}
                                                <span>Nome</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.last_name }}
                                                <span>Cognome</span>
                                            </label>


                                            <label class="form-group has-float-label">
                                                {{ form.email }}
                                                <span>Email</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.date_of_birth }}
                                                <span>Data di nascita</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.sex }}
                                                <span>Sesso</span>
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <label class="form-group has-float-label">
                                                {{ form.town }}
                                                <span>Città di residenza</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.address }}
                                                <span>Indirizzo di residenza</span>
                                            </label>


                                            <label class="form-group has-float-label">
                                                {{ form.town_birth }}
                                                <span>Città di nascita</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.codice_fiscale }}
                                                <span>Codice Fiscale</span>
                                            </label>

                                            <label class="form-group has-float-label">
                                                {{ form.phone }}
                                                <span>Telefono</span>
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-xs" type="submit">Modifica dati anagrafici
                                    </button>
                                </form>
                            </div>

                            <div class="tab-pane p-3 fade" id="secondFull" role="tabpanel"
                                 aria-labelledby="second-tab_">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4">
                                        <form method="POST" id="account_form">
                                            <label class="form-group has-float-label">
                                                {{ account_form.username }}
                                                <span>Username</span>
                                            </label>
                                            <label class="form-group has-float-label custom-file-label">
                                                <div class="custom-file">
                                                    {{ account_form.image }}
                                                </div>
                                                <span>Immagine del profilo</span>
                                            </label>
                                            <button type="submit" class="btn btn-xs btn-primary">Modifica dati account
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="row">
                                            <h6 class="mx-3">Cambia password</h6>
                                            <div class="custom-switch custom-switch-primary mb-2 custom-switch-small ml-auto">
                                                <input class="custom-switch-input" id="switchS" type="checkbox">
                                                <label class="custom-switch-btn" for="switchS"></label>
                                            </div>
                                        </div>
                                        <form action="" id="change_password_form">
                                            <label class="form-group has-float-label">
                                                {{ account_form.password1 }}
                                                <span>Password</span>
                                            </label>
                                            <span>{{ account_form.password1.help_text }}</span>
                                            <label class="form-group has-float-label">
                                                {{ account_form.password2 }}
                                                <span>Conferma Password</span>
                                            </label>
                                            <span>{{ account_form.password2.help_text }}</span>
                                            <button class="btn btn-secondary btn-xs mt-4" type="submit">Modifica
                                                password
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.card-body').css('padding', '0');
            $('#change_password_form').hide();
            $('#switchS').click(function () {
                $("#change_password_form").toggle(this.checked);
            })

        });
    </script>
{% endblock %}