<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li class="">
                    <a href="{% url 'index_admin' %}">
                        <i class="iconsminds-home"></i>
                        <span>Homepage</span>
                    </a>
                </li>
                <li>
                    <a href="#courses">
                        <i class="iconsminds-blackboard"></i>
                        <span>Gestione Palestra</span>
                    </a>
                </li>

                <li>
                    <a href="#users">
                        <i class="iconsminds-male"></i> <span>Gestione Utenti</span>
                    </a>
                </li>
                <li>
                    <a href="#settings">
                        <i class="iconsminds-gears"></i> <span>Impostazioni Generali</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">
            <ul class="list-unstyled" data-link="courses">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#collapseMenuCourses" aria-expanded="true"
                       aria-controls="collapseMenuCourses" class="rotate-arrow-icon collapsed">
                        <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Gestione Corsi</span>
                    </a>
                    <div id="collapseMenuCourses" class="collapse">
                        <ul class="list-unstyled inner-level-menu">
                            <li>
                                <a href="{% url 'courses' %}">
                                    <i class="simple-icon-layers"></i> <span class="d-inline-block">Lista corsi</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'nuovo_corso' %}">
                                    <i class="iconsminds-notepad"></i> <span
                                        class="d-inline-block">Aggiungi Corso</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'courses_disactivated' %}">
                                    <i class="simple-icon-exclamation"></i> <span class="d-inline-block">Corsi disattivati</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hours' %}">
                                    <i class="iconsminds-24-hour"></i> <span class="d-inline-block">Gestione fasce orarie</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'course_settings' %}">
                                    <i class="iconsminds-gears"></i> <span
                                        class="d-inline-block">Impostazioni corsi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if perms.core.can_view_prenotations %}
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseMenuPrenotations" aria-expanded="true"
                           aria-controls="collapseMenuPrenotations" class="rotate-arrow-icon collapsed">
                            <i class="simple-icon-arrow-down"></i> <span
                                class="d-inline-block">Gestione Prenotazioni</span>
                        </a>
                        <div id="collapseMenuPrenotations" class="collapse">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="{% url 'prenotation_list' %}">
                                        <i class="iconsminds-magnifi-glass"></i> <span
                                            class="d-inline-block">Cerca prenotazione</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <i class="iconsminds-gears"></i> <span class="d-inline-block">Impostazioni prenotazioni</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="list-unstyled" data-link="users">
                <li>
                    <a href="">
                        <span class="d-inline-block">Aggiungi nuovo utente</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'users_list' %}">
                        <i class="iconsminds-mens"></i> <span class="d-inline-block">Lista utenti registrati</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{#<aside id="left-panel" class="left-panel">#}
{#    <nav class="navbar navbar-expand-sm navbar-default">#}
{##}
{#        <div class="navbar-header">#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"#}
{#                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <i class="fa fa-bars"></i>#}
{#            </button>#}
{#            <a class="navbar-brand" href="./"><img src="/media/img/logo1.png" alt="Logo"></a>#}
{#            <a class="navbar-brand hidden" href="./"><img src="/media/img/logo1.png" alt="Logo"></a>#}
{#        </div>#}
{##}
{#        <div id="main-menu" class="main-menu collapse navbar-collapse">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active">#}
{#                    <a href="index_control_panel.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>#}
{#                </li>#}
{#                <h3 class="menu-title">Gestione Palestra</h3><!-- /.menu-title -->#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Corsi</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="ti ti-menu-alt"></i><a href="{% url 'courses' %}">Lista corsi</a></li>#}
{#                        <li><i class="ti ti-pencil-alt"></i><a href="{% url 'nuovo_corso' %}">Gestione corsi</a></li>#}
{#                        <li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">Lista corsi#}
{#                            disattivati</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Iscrizioni</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="">Visualizza Iscrizioni</a></li>#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Iscrivi Utente</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Prenotazioni</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="fa fa-table"></i><a href="{% url 'prenotation_list' %}">Elenco Prenotazioni</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                        <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Calendario</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Istruttori</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>#}
{#                        <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <h3 class="menu-title">Gestione Iscritti</h3><!-- /.menu-title -->#}
{##}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Gestione Iscritti</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="{% url 'users_list' %}">Visualizza iscritti</a>#}
{#                        </li>#}
{#                        <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>#}
{#                </li>#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>#}
{#                        <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>#}
{#                        <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>#}
{#                        <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <h3 class="menu-title">Gestione Sito</h3><!-- /.menu-title -->#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                       aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>#}
{#                    <ul class="sub-menu children dropdown-menu">#}
{#                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>#}
{#                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>#}
{#                        <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <h3 class="menu-title">Impostazioni Generali</h3><!-- /.menu-title -->#}
{#                <li class="menu-item-has-children dropdown">#}
{#                    <a href="{% url 'hours' %}" class="dropdown-toggle"> <i class="menu-icon fa fa-clock-o"></i>Gestisci fasce orarie</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </nav>#}
{#</aside>#}