<div class="modal bd-example-modal-lg fade" id="norme" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">

                <span>Per offrirti la migliore esperienza di allenamento in un ambiente sano e sicuro, nel nostro club
                abbiamo adottato misure igienico-sanitarie per prevenire la diffusione del contagio da Covid-19 e regole
                di comportamento che assicurino il distanziamento sociale.
</span>
                <br><br>
                <h1>PRENOTAZIONE ALLENAMENTO</h1>
                <br>
                <p>
                    Ti invitiamo a registrarti dall'apposita sezione accessibile dalla voce "ACCEDI", che ti permetterà
                    l’accesso al club,
                    consentito da ora solo su prenotazione obbligatoria. Tramite il tuo pannello utente dovrai
                    prenotare tutte le attività: classi di gruppo, lezioni con il personal trainer e sessioni di
                    allenamento
                    libero in sala attrezzi.
                    <br><br>
                    Tramite app puoi prenotare un'attività al giorno, secondo le logiche del priority booking in essere
                    per
                    le diverse formule di abbonamento. Per la prenotazione di altre attività nella stessa giornata,
                    previa
                    verifica disponibilità, puoi rivolgerti allo staff del club.
                    <br><br>
                    Ti chiediamo come sempre di cancellare la tua prenotazione entro un'ora dall'inizio dell'attività se
                    cambi programma e prima di recarti al club di assicurarti che la tua prenotazione sia confermata e
                    di
                    non essere in lista d'attesa.
                </p>

                <br><br>
                <h1>
                    INGRESSO AL CLUB
                </h1>
                <br>
                <p>
                    {#                    L'accesso al club non è consentito ai minori di 16 anni.#}
                    Puoi accedere al club solo dai 15 minuti prima dell'attività prenotata e non oltre l'inizio
                    dell'attività, ad es. se hai una prenotazione alle 20:00 puoi accedere tra le 19:45 e le 20:00. <br><br>
                    Prima dell’accesso al club ti verrà rilevata la temperatura corporea, dovrai indossare la mascherina
                    all’ingresso e all’interno delle aree ma non sarà obbligatoria per le attività di allenamento.
                    <br><br>
                    Al tuo primo accesso al club dovrai autodichiarare il tuo stato di salute relativamente al Covid-19.
                    {#                    <a href="#">Qui</a> trovi il modulo da scaricare e inviare compilato e firmato via e-mail al tuo#}
                    {#                    club.#}
                    {#                     <a href="#">Qui</a> trovi il modulo da scaricare e consegnare in segreteria.#}
                </p>
                <br><br>
                <h1>
                    PERMANENZA AL CLUB
                </h1>
                <br>
                <p>
                    In gym floor tutti i macchinari saranno disposti per garantire un adeguato distanziamento e, prima e
                    dopo l’uso di ogni attrezzo, ti chiediamo di utilizzare i sanificanti messi a tua disposizione per
                    igienizzarli. <br><br>
                    Ti ricordiamo che è obbligatorio l'uso dell'asciugamano. <br><br>
                    Prenota e allenati quanto vuoi, ma ti suggeriamo di contenere la tua permanenza al club in 75 minuti
                    per
                    permettere a tutti di allenarsi rispettando il distanziamento sociale. <br><br>
                    Non è consentito l'uso dello spogliatoio o delle docce, dovrai venire già vestito da allenamento e
                    farti la doccia a casa.
                </p>
            </div>
        </div>
    </div>
</div>