{% load i18n %}{% autoescape off %}
    {% blocktrans %}Hai ricevuto questa mail perchè hai richiesto di reimpostare la password del tuo account del sito
        {{ site_name }}.{% endblocktrans %}

    {% trans "Clicca sul seguente link per reimpostare la password:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans 'Il tuo username:' %} {{ user.get_username }}
    {% trans 'Se non hai richiesto nessun reset, ti preghiamo di ignorare il messaggio e di comunicarlo in segreteria o inviare una mail a info@dnafitclub.it. Grazie.' %}
    {% blocktrans %}Il team di {{ site_name }} {% endblocktrans %}

{% endautoescape %}
