{% extends 'control_panel/base_control_panel/../../../../core/templates/core/base/base_template.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="mx-3 mt-4">Lista dei corsi <disattivati></disattivati></h1>
        </div>

        <div class="card-body">
            <table id="course_table_disactivated" class="data-table responsive nowrap dataTable no-footer dtr-inline">
                <thead>
                <tr>
                    <th>Corso</th>
                    <th>Data Inizio</th>
                    <th>Data Fine</th>
                    <th>Prezzo</th>
                    <th>Istruttore</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
