{% extends 'website/base_templates/base.html' %}
{% load i18n static %}
{% block content %}
    <section class="hero-section">

        <div id="register_container">
            <div class="hs-item set-bg">
                <div class="container">
                    {% block content_title %}<h1 class="register_h1">{{ title }}</h1>{% endblock %}
                    {% if validlink %}
                        <p>{% trans "Per favore inserisci la tua nuova password due volter per poter verificare che sia corretta." %}</p>

                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                <div class="form-row field-password1">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1">{% trans 'Nuova password:' %}</label>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="form-row field-password2">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password2">{% trans 'Conferma password:' %}</label>
                                    {{ form.new_password2 }}
                                </div>
                                <input class="mt-4 btn primary-btn" type="submit" value="{% trans 'Cambia password' %}">
                            </fieldset>
                        </form>

                    {% else %}

                        <p>{% trans "Il link non è valido o è scaduto. Per favore ripeti la procedura di recupero password." %}</p>

                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
