{% extends 'website/base_templates/base.html' %}
{% load i18n static %}
{% block content %}
    <section class="hero-section">

        <div id="register_container">
            <div class="hs-item set-bg">
                <div class="container">
                    {% block content_title %}<h1 class="register_h1">{{ title }}</h1>{% endblock %}
                    {% block title %}{{ title }}{% endblock %}
                    <p>{% trans "La tua password è stata resettata con successo. Ora puoi procedere con il login." %}</p>
                    <p><a href="{{ login_url }}">{% trans 'Vai al login' %}</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
